:root {
    --purple: #d434fe;
    --white: #fff;
    --lightPurple: #fe34ea;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  html body {
    width: 100vw;
    height: 100vh;
    background-color: #150E28;
    color:#FFFFFF;
    font-family: 'Montserrat';
    box-sizing: border-box;
    overflow-x: hidden;
    background-image: url("gallery/Getlinked (4)/Purple-Lens-Flare-PNG-7.png");
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    @import url('https://fonts.googleapis.com/css2?family=Onest:wght@900&display=swap');
  }
  
  .navbar {
    width: 100vw;
    display: flex;
    flex-direction: row;
    top: 1vh;
    position: relative;
    }
  
  
  .nav-list {
    margin-right: 2vw;
  }
  
  ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
  }
  
  li {
    margin: 1vw;
    font-size: 1.1vw;
    font-weight: bold;
  }
  
  .nav-link {
    margin-bottom: 0%;
    margin-left: 0.5vw;
  }
  
  
  a {
    background-image: linear-gradient(to right,
        #fe34ea,
        #903AFF,
        #ffff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 2px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  a:before {
    content: '';
    background-color: var(--lightPurple);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
    background-position: 0;
  }
  
  a:hover::before {
    width: 100%;
  }
  
  
  .logo {
    position: relative;
    float: left;
    left: 3vw;
    color: white;
    font-size: 3vw;
    font-weight: bold;
  }
  
  /* Add custom color to logo*/
  .logo-text {
    color: #d434fe;
  }
  
  /*Gradient button*/
  .btn {
    background-image: linear-gradient(to right, #fe34ea, #903AFF);
    border: none;
    color: white;
    padding: 0.8rem 4.2rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin-bottom: 0px;
    cursor: pointer;
    border-radius: 4px;
    transition: 2s ease-out;
    text-decoration: none;
    margin-left: 4vw;
  }
  
  .btn:hover {
    transform: scale(1.1);
    transition: color 0s;
  
  }
  
  .a-none:hover::before {
    width: 0;
    transition: none;
    transform: none;
  }
  
  
  .a-none {
    background-image: none;
    background-color: white;
  }
  
  
  .nav-icon-5 span {
    display: none;
  }
  
  .nav-icon-5 {
    top: 0px;
    width: 20px;
    float: right;
    right: 0px !important;
    height: 30px;
    margin: 10px 10px;
    position: absolute;
    cursor: pointer;
    margin-right: 20px;
    display: block;
  }
  
  .nav-icon-5 span {
    background-color: #150E28;
    color: #ffffff;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width: 100%;
    height: 3px;
    transition-duration: 500ms;
  
  }
  
  .nav-icon-5 span:nth-child(1) {
    background-color: #ffffff;
    width: 10px;
    top: 0px;
    right: 1rem;
  }
  
  .nav-icon-5 span:nth-child(2) {
    background-color: #ffffff;
    width: 25px;
    top: 10px;
    right: 0;
    opacity: 1;
  }
  
  .nav-icon-5 span:nth-child(3) {
    background-color: #ffffff;
    width: 10px;
    bottom: 7px;
    right: 0px;
  }
  
  .nav-icon-5:not(.active):hover span:nth-child(1) {
    transform: rotate(-4deg) scaleY(1.1);
  }
  
  .nav-icon-5:not(.active):hover span:nth-child(2) {
    transform: rotate(3deg) scaleY(1.1);
  }
  
  .nav-icon-5:not(.active):hover span:nth-child(3) {
    transform: rotate(-5deg) scaleY(1.1);
  }
  
  .nav-icon-5.active span:nth-child(1) {
    transform: rotate(405deg);
    top: 13px;
    width: 15px;
    right: 0px;
  }
  
  .nav-icon-5.active span:nth-child(2) {
    left: 60%;
    opacity: 0;
    animation: active-menu12-bar02 .8s forwards;
  }
  
  @keyframes active-menu12-bar02 {
    100% {
      height: 0;
    }
  }
  
  .nav-icon-5.active span:nth-child(3) {
    transform: rotate(-405deg);
    top: 13px;
    width: 15px;
    right: 0px;
  }
  
  
  .nav-icon-5.active::after {
    animation: active-menu12 .4s .25s forwards;
  }
  
  @keyframes active-menu12 {
    0% {
      border-color: transparent;
      transform: rotate(0);
    }
  
    25% {
      border-color: transparent #fff transparent transparent;
    }
  
    50% {
      border-color: transparent #fff #fff transparent;
    }
  
    75% {
      border-color: transparent #fff #fff #fff;
    }
  
    100% {
      transform: rotate(-680deg);
      border-radius: 50%;
      border-image-source: linear-gradient(to top, #fe34ea, #903AFF);
      border-image-slice: 5;
    }
  }
  
/* main */


  #main{
    margin-top:10vw;
    display:flex ;
    flex-direction: row;
    justify-content: space-evenly;
  }

#main h1{
    color: #fe34ea;
}

#right p{
   width: 15vw;;
}


#right .contact{
    color: #FFF;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
    width: 2vw;
    margin-bottom:1vw;
}

#contact-links-btm{
  display:none;
}

  #form-card{
    width: 40vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  #left{
    padding: 5vh;
  }

#left h5{
    width:23vw;
    margin-left: 3.5vw;
    color: #D434FE;
}
#Tname{
    display: none;
}
#form-text {
    display:none;;  
}



  input{
    border:  1px solid #FFFFFF;
    border-radius: 4px;
    width: 30vw;
    margin: 1vw;
    height: 4vh;
    margin-left: 3.5vw;
    background-color: transparent;
    padding: 1vw;
    /* text-align: left; */
  }

  input::placeholder{
   color: #FFFFFF;
  }
   input:focus, textarea:focus, select:focus
   {
   border: 1px solid var(--lightPurple);
   box-shadow: 0 0 3px var(--lightPurple);
   outline-offset: 0px;
   outline: none;
   color: #FFFFFF;
    }


  textarea{
    border:  1px solid #FFFFFF;
    background-color: transparent;
    margin: 2vw;
    margin-left: 3.5vw;
    align-items: center;
    border-radius: 4px;
    width: 30vw;
    height: 13vh;
    padding: 2vw;
}

textarea::placeholder{
  color: #FFFFFF;
}




    /* margin: 0.5vw;
} */


/* Styles for the checkbox */
input[type="checkbox"] {
  background-color: transparent;
}




@media screen and (max-width: 768px) {
    body{
      width: 100vw;
    }
    
    .inner-box-1 {
      position: relative;
      width: 40vw;
      height: 74vh;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      /*background-image:
       linear-gradient(to top, transparent, rgba(117, 19, 93, 0.73)),
      url("gallery/Getlinked (4)/man-wearing-smart-glasses-touching-virtual-screen 1.png"); */
      background-image: url("gallery/Getlinked (4)/man-wearing-smart-glasses-touching-virtual-screen 1.png");
      /*background: linear-gradient(rgba(29, 38, 113, 0), rgba(195, 55, 100, 0)); */
      margin-top: 3vw;
      font-family: 'Onest', sans-serif;
    
    }
    
    
    
      .navbar {
        height: 5vh;
      }
    
      .nav-list {
        position: fixed;
        left: -100%;
        float: left;
        top: 0rem;
        padding-top: 6vw;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        background-color: #150E28;
      }
    
    
      .nav-list,
      #icon {
        z-index: 1;
      }
    
      .nav-list.active {
        left: 0;
    
        .btn a {
          margin-left: 0;
        }
    
        .logo {
          display: none;
        }
      }
    
      .nav-item {
        left: 0;
        float: left;
      }
    
    
      .btn {
        align-self: center;
      }
    
      li {
        font-size: 1rem;
      }
    
      li a {
        float: left;
        margin-left: 20vw;
      }
    
      .btn {
        float: left;
        margin-left: 20vw;
    
      }
    
      .nav-icon-5 span {
        display: block;
      }
    
    
      .nav-icon-5::after {
        position: absolute;
        top: 10%;
        left: 10%;
        display: block;
        content: '';
        width: 32px;
        height: 32px;
        margin: -5px 0 0 -5px;
        border-radius: 50%;
        border: 2px solid transparent;
        transition: all .75s;
      }
    
    
    #main{
        margin-top:15vw;
        display:flex ;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 20vw;;
    }
    
 #right{
    display: none;
 }

 #form-card{
    width: 60vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: none;
    
  }

input{
    width: 70vw;
    margin-bottom: 3vw;
}
textarea{
    width: 70vw;
}

  #left h5{
    width: 32vw;
    font-size: 1.5;
  }

  .btn{
    margin-top: 5vw;
    margin-left: 15vw;
    padding: 0.5rem 3.2rem;
  }

  #Tname{
    display: contents;
  }

  #form-text{
    display:flex;
    width: 55vw;
    margin-left: 4vw;  
    font-size: 2vw;

}


#contact-links-btm{
  display:block;
}


}

@media screen and (max-width: 425px){

  #left h5{
    width: 62vw;
   
  }

#form-text{
  font-size: 2.5vw;
}


input{
    width: 80vw;
    padding:5vw;
  }

  textarea{
    width: 80vw;
    padding:5vw;
  }

  input::placeholder,
textarea::placeholder {
    color: #FFFFFF;
    font-size: small;
  }
  
}