*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body{
  width: 100vw;
  height: 100vh;
  background-color: #150E28;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.navbar{
  width: 100vw;
  display: flex;
  flex-direction: row;
  top: 7vh;
  position: relative;
  border-bottom: 0.001vw solid #d434fe;
}


.nav-list{
  margin-right: 2rem;
}

ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

li {
  margin: 1vw;
  font-size: 1.1vw;
  font-weight: bold;
}

.nav-link{
  margin-bottom: 0%;
  margin-left: 0.5rem;
}



a{
  background-image: linear-gradient(
    to right,
    #fe34ea, 
   #903AFF,
   #ffff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 2px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before{
  content: '';
  background-color:  #fe34ea;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
 a:hover {
  background-position: 0;
 }
 
a:hover::before{
   width: 100%;
 }
 
 
.logo{
  position: relative;
  float: left;
  left: 3vw;
  color: white;
  font-size: 3vw;
  font-weight:bold;
}

/* Add custom color to logo*/
.logo-text{
  color: #d434fe;
}

/*Gradient button*/
.btn {
background-image: linear-gradient(to right, #fe34ea, #903AFF);
  border: none;
  color: white;
  padding: 0.8rem 4.2rem;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin-bottom: 0px;
  cursor: pointer;
  border-radius: 4px;
  transition:2s ease-out;
  text-decoration: none;
  margin-left: 4rem;
}

.btn:hover{
  transform: scale(1.1);
    transition: color 0s;

}


.a-none:hover::before {
  width: 0;
  transition: none;
  transform: none;
}


.a-none{
  background-image: none;
  background-color: white;
}


.nav-icon-5 span{
  display: none;
}

.nav-icon-5{
  top: 0px;
  width: 20px;
  float: right;
  right: 0px !important;
   height: 30px;
   margin: 10px 10px;
   position: absolute;
   cursor: pointer;
   margin-right: 20px;
   display: block;
   }

 .nav-icon-5 span{
  background-color: #150E28;
  color: #ffffff;
   position: absolute;
   border-radius: 2px;
   transition: .3s cubic-bezier(.8, .5, .2, 1.4);
   width:100%;
   height: 3px;
   transition-duration: 500ms;

 }

 .nav-icon-5 span:nth-child(1){
  background-color: #ffffff;
   width: 10px;
   top:0px;
   right: 1rem;
 }
 .nav-icon-5 span:nth-child(2){
  background-color: #ffffff;
   width: 25px;
   top:10px;
   right: 0;
   opacity:1;
 }
 .nav-icon-5 span:nth-child(3){
  background-color: #ffffff;
   width: 10px;
   bottom:7px;
   right: 0px;
 }
 .nav-icon-5:not(.active):hover span:nth-child(1){
   transform: rotate(-4deg) scaleY(1.1);
 }
 .nav-icon-5:not(.active):hover span:nth-child(2){
   transform: rotate(3deg) scaleY(1.1);
 }
 .nav-icon-5:not(.active):hover span:nth-child(3){
   transform: rotate(-5deg) scaleY(1.1);
 }

 .nav-icon-5.active span:nth-child(1){
   transform: rotate(405deg);
   top: 13px;
   width: 15px;
   right: 0px;
 }
 .nav-icon-5.active span:nth-child(2){
  left: 60%; 
  opacity:0;
  animation: active-menu12-bar02 .8s forwards;
 }
 @keyframes active-menu12-bar02 {
  100% {
    height: 0;
  }
}

 .nav-icon-5.active span:nth-child(3){
   transform: rotate(-405deg);
   top: 13px;
   width: 15px;
   right: 0px;
 }


 .nav-icon-5.active::after {
  animation: active-menu12 .4s .25s forwards;
}
@keyframes active-menu12 {
  0% {
    border-color: transparent;
    transform: rotate(0);
  }
  25% {
    border-color: transparent #fff transparent transparent;
  }
  50% {
    border-color: transparent #fff #fff transparent;
  }
  75% {
    border-color: transparent #fff #fff #fff;
  }
  100% {
  transform: rotate(-680deg);
  border-radius: 50%;
  border-image-source: linear-gradient(to top, #fe34ea, #903AFF);
  border-image-slice: 5;
  }
}

/* Main page*/
.container {
 width: 100%;
 display: column;
  flex-wrap:nowrap;
  justify-content: center;

  margin: 0;
  margin-top: 5rem;
}
.box {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
}
.typing-text{
height: 2rem;
}
.box-1{
  margin-top: 12rem;
  display: flex;
  height: 100vh;
  color: #fff;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;
}
.inner-box{
  width: 50%;
  height: 100%;
  border: 1px solid #ffff;
}
.inner-box-1{
  position: relative;
  width: 50%;
  height: 38.2rem;
  background-image: url('gallery/Getlinked (4)/man-wearing-smart-glasses-touching-virtual-screen 1.png');
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #ffff;
}






@media screen and (max-width: 768px) {
.navbar{
  top: 0;
}

  .nav-list{
    position: fixed ;
    left: -100%;
    float: left;
    top: 0rem;
    padding-top:6rem; 
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    background-color: #150E28;
    }

.nav-list.active{
  left: 0;
  .btn a{
    margin-left: 0;
  }
  .logo{
    display: none;
  }
}

.nav-item{
    left: 0;
    float: left;
}

   
.btn{
  align-self: center;
}

li{
  font-size: 1rem;
}

li a{
  float: left;
  margin-left: 20vw;
}

.btn{
  float: left;
  margin-left: 20vw;

}

.nav-icon-5 span{
  display: block;
}


.nav-icon-5::after{
  position: absolute;
  top: 10%;
  left: 10%;
  display: block;
  content: '';
  width: 32px;
  height: 32px;
  margin: -5px 0 0 -5px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all .75s;
}

}



