*{
  margin: 0;
  padding: 0;
  background-color: #150E28;
  font-family: 'Montserrat', sans-serif;
}

html body{
  width: 100vw;
  height: 100vh;
  background-color: #150E28;
}

.navbar{
  width: 100vw;
  display: flex;
  flex-direction: row;
  top: 4vh;
  position: relative;
  border-bottom: 0.001vw solid #d434fe;
}

.nav{
  display: flex;
  justify-self: center;
  right: 15vw;
  position: relative;

}

.nav-list{
  margin-right: 10vw;
}

ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

li {
  margin: 10px;
}

a{
  background-image: linear-gradient(
    to right,
    #fe34ea, 
   #903AFF,
    #ffff 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before{
  content: '';
  background-color:  #fe34ea;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
 a:hover {
  background-position: 0;
 }
 
a:hover::before{
   width: 100%;
 }
 
 
.logo{
  position: relative;
  float: left;
  left: 5vw;
  color: white;
  font-size: 2vw;
}

.logo-text{
  color: #d434fe;
}

.btn {
background-image: linear-gradient(to right, #fe34ea, #903AFF);
  border: none;
  color: white;
  padding: 12px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
   margin-bottom: 4vh;
  cursor: pointer;
  border-radius: 2px;
  transition:2s;
}

.btn:hover{
  transform: scale(1.2);
    transition: color 0s;

}

.btn a:hover{
  text-decoration: none;
  transition: none; /* This line removes all transitions */
  transition: color 0s;
}


a.a-none:hover{
  text-decoration: none;
  transition: none; /* This line removes all transitions */
  transition: color 0s;
}

button a:before{
  text-decoration: none;
}

button a:hover::before{
  text-decoration: none;
}


button a:hover{
  text-decoration: none;
}















