html, body{ 
    width:100%;
    margin:0;
    padding:0;
    display:flex;
    overflow-x: hidden;
}
:root{
  --primary-color:  #dffbfb;
  --secondary-color: #85d6f9; 
  --nav-color: #AFEEEE;
  --text-color:black;
}

.darkmode{
  --primary-color: #15202B;
  --secondary-color:#eff0f0;
  --nav-color:#5656bd;
  --text-color:#eff0f0;
}

 h2{
    text-align:center;
    font-weight: bold;
    font-size: 4em;
    color:var(--text-color)
}

/* for navbar and header*/
#navbar{
    width: 100vw;
    z-index: 99999;
    position:fixed;
    float:left;
    display:flex;
    justify-content: flex-end;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
    height:50px;
    opacity:10;
  background-color: var(--primary-color);
  top: 20px;
}

 #navbar a{
    padding-top: 50px;
    margin-top:50px;
    height:10px;
    font-weight:bold;
    float:right;
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    color: var(--text-color);
    text-decoration: none;
    justify-content: space-between;
}
.nav-links{
    margin-left: 55px;
}
.logo{
  font-size: 30px;
}
.linked{
  color: #D434FE;
}

.contact{
    margin-right: 7vw;
}

.register{
    margin-right: 7vw;
    margin-left: 7vw;
}

 .button {
    background-image: linear-gradient(to left, #903AFF, #FE34B9);
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  top:0px;

}
.button a:hover{
  color: white;
}

.button a{
  height: 18px;
}

#navbar a{
  margin-left:20px;
  padding:20px;
  margin-top:0px;
  
}

a{
  font-weight:bold;
  cursor: pointer;
}
#navbar a:hover {
  color:#D434FE;
}


#navbar a:active{
  color:lightgoldenrodyellow;
}
#displaymode{
  width:25px;
  height:25px;
  padding:15px;
  padding-left:50px;
  
}

#logo {
    display: flex;
    justify-content: flex-start;
    float: right;
    margin-right:auto ;
}

#navbar .nav-elem{
    margin-left: 20px;
}

.displaymode{
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition: 1s;
}

.displaymode:hover{
  -ms-transform:scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/*for main section*/
#main{
    width:100vw;
    position:absolute;
    height:90vh;
    font-weight:bold;
    background-color:var(--primary-color);
    display: flex;
    flex-direction:column;
    align-items: center;
    gap:100px;
    padding-top: 0 50%;
    justify-content: space-between;
    margin: 0;
   overflow-x: hidden;
  color:var(--text-color);
}

#about{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    width: 100%;
    margin-left:0px;
}

#about h1{
  font-size: 4vw;
}

#main-text{
    display:flex;
    justify-content:flex-start;
    margin-left:0px; 
    margin-top:150px;
    margin-bottom:200px;
    margin-right:50px;
}

#main-img-container{
    width:400px;
    height: 400px;
    display:flex;
    padding-top:200px;
    justify-content:flex-end
} 

#main-img{
    display:flex;
    justify-content:flex-end;
    float:right;
}

#main-img, img{
  justify-content:flex-end;
  float:right;
  padding-right: 0px;
  margin-right: 0px;
  border-left: 0px;
}

/* introdction section */

#intro{
    margin-top:auto;
    padding-top:200px;
    text-align:left;
    justify-content:left;
    background-position: left bottom, left center;
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: left;
    float:left;
    left: 5%; 
    padding-bottom:140px;
     margin-left:0px;
  color:var(--text-color);

}

/* for projects section */
#projects{
    display:flex;
    flex-wrap:nowrap;
    width:100vw;
    height: 500px;
    align-items:center;
    padding: 50px;
    padding-right:50px; 
    justify-content:space-around;
} 


#pg-text{
  text-align:center;
  font-weight:bold;
  color:var(--text-color);
}

#pg-img{
  max-width:100%;
  max-height:100%;
}

.pg{
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition: 1s;
}

.pg:hover{
  -ms-transform:scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#pg-1{
    width: 350px;
    height:300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#pg-2{
    width: 350px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#pg-3{
    width:350px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* footer section, note that footer is directly a child of the projects section*/
#footer{
    background-color:var(--primary-color);
    display:flex;
    width: 100%;
    height:500px;
    bottom: 0;
    align-items:baseline;
    justify-content:center;
    text-align:center;
    padding-top: 250px;
    padding-bottom:0px;
    color:var(--text-color);
}  


#footer h2{
    color: var(--text-color);
    text-align: center;
}
#footer p{
    flex-direction: row;
    float:right;
    color: var(--text-color);
    text-align: center;
    padding: 50px;
}
.ft-icon{
  align-items: center;
  height: 70px;
  width:70px;
  color:black;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition: 1s;
  justify-content: flex-start;
}
.ft-icon:hover{
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.2);
}
.ft-txt{
    text-align: center;
}





/*Media Queries*/
@media (max-width:319px) and (min-width:240px)
{
 #navbar{
    width: 100vw;
    z-index: 99999;
    position:fixed;
    float:left;
    display:block;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
    height:50px;
    opacity:10;
    background-color:var(--primary-color);
}

#navbar a{
  margin-left:5px;
  padding:5px;
  margin-top:10px;
}
a{
  text-decoration:none;
  font-weight:bold;
  font-size:3vw;
}

#displaymode{
  width:15px;
  height:15px;
  padding:15px;
  padding-left:25px;
  
}

#main{
    width:100vw;
    position:absolute;
    height:90vh;
    font-weight:bold;
    background-color:var(--primary-color);
    display: flex;
    flex-direction:column;
    align-items: center;
    gap:100px;
    padding-top: 0 50%;
    justify-content: space-between;
    margin: 0;
   overflow-x: hidden;
    margin-top:25px;
    margin-bottom: 25px;
}
#main-img-container{
    width:150px;
    height: 150px;
    display:flex;
    padding-top:200px;
    justify-content:flex-end
} 
#main-img{
    display:flex;
    justify-content:flex-end;
    float:right;
}


#about{
    display:flex;
    flex-direction:row;
  flex-wrap:nowrap;
    margin-left:0px;
  justify-content: space-around;
  margin-right:100px;
}

#main-text{
    display:flex;
    justify-content:flex-start;
    margin-left:0px; 
    margin-top:50px;
    margin-bottom:0px;
    margin-right:50px;
}

#about h1{
  font-size: 6vw;
  
}

#projects{
    display:flex;
    flex-wrap:wrap;
    width:100vw;
    height: 90vh;
    align-items:center;
    padding: 10px;
    padding-right:5px; 
    justify-content:space-between;
} 

h2{
  font-size: 7vh;
  font-weight: bold;
}
#pg-text{
  text-align:center;
  font-weight:bold;
  font-size: 3vw;
}

#pg-img{
  max-width:100%;
  max-height:100%;
}

#pg-1{
    width: 100px;
    height:150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#pg-2{
    width: 100px;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#pg-3{
    width:100px;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}   
 /* footer section, note that footer is directly a child of the projects section*/
#footer{
    background-color:var(--primary-color);
    display:flex;
    width: 100%;
    height:100vh;
    bottom: 0;
    align-items:baseline;
    justify-content:center;
    text-align:center;
    padding-top: 100px;
    padding-bottom:0px;
}  

#footer h2{
    color:var(--text-color);
    text-align: center;
}
  h2{
    font-size: 10px;
  }
#footer p{
    flex-direction: row;
    
    float:left;
    color: black;
    text-align: center;
    padding:25px;
    margin-left:15px;
}

.ft-icon{
  
  size:20px;
  height: 20px;
  width:20px;
  color:black;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition: 1s;
}
.ft-icon:hover{
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.2);
}
.ft-txt{
    text-align: center;
    font-size: 25px;
}

  
}

@media (max-width:480px) and (min-width:320px){
/* for navbar and header*/
#navbar{
    width: 100vw;
    z-index: 99999;
    position:fixed;
    float:left;
    display:block;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
    height:50px;
    opacity:10;
    background-color: var(--primary-color);
}

#navbar a{
  margin-left:5px;
  padding:5px;
  margin-top:10px;
}
  
a{
  text-decoration:none;
  font-weight:bold;
  font-size:3vw;
}

#displaymode{
  width:15px;
  height:15px;
  padding:15px;
  padding-left:25px;
  
}

#main{
    width:100vw;
    position:absolute;
    height:90vh;
    font-weight:bold;
    background-color:var(--primary-color);
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-top: 0 50%;
    justify-content: space-between;
    margin: 0;
    overflow-x: hidden;
    margin-top:25px;
    margin-bottom: 0px;

}
#main-img-container{
    width:300px;
    height: 200px;
    display:flex;
    padding-top:0px;
    margin-top:0px;
    margin-bottom: 100px;
    margin-left: 100px;
  align-items: center;
  justify-content:center;
} 
#main-img img{
  width:250px;
  height: 200px;
    display:flex;
    justify-content:center;
    float:center;
    padding-right:10px;
  max-width:100%;
  max-height:100%;
    
}


#about{
    display:flex;
    flex-direction:row;
  flex-wrap:wrap;
    margin-left:0px;
  justify-content:center;
  margin-right:80px;
  gap:10px;
  margin-bottom:100px;
}
#intro{
  padding-top:10px;
  padding-bottom:10px;
}
#main-text{
    top: 0px;
    height:250px;
    display:flex;
    justify-content:flex-start;
    margin-top:10px;
    margin-bottom:0px;
    margin-right:50px;
  padding-bottom:0px;
  bottom:0px;
}

#main-text h1{ 
  font-size:5vw;
    padding-left:70px; 
  text-align: center;
  float: center;
}
#about h1{
  font-size: 7vw;
}

#projects{
    display:flex;
    flex-wrap:wrap;
    width:100vw;
    height: 70vh;
    align-items:center;
    padding-bottom: 10px;
    justify-content:space-evenly;
    margin-top: 0px;
   gap:15px;
}
.projects h2{
  padding-bottom: 0px;
  margin-bottom:0px;
  bottom:0;
  color:var(--text-color);
}
  h2{
   bottom: 0;
    padding-bottom: 0px;
  font-size: 7vw;
    color:var(--text-color)
  }
#pg-text{
  text-align:center;
  font-weight:bold;
  font-size: 4vw ;
}

#pg-img{
  max-width:100%;
  max-height:100%;
}

#pg-img img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
  /*
  img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}*/
#pg-1{
     width: 150px;
    height:200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#pg-2{
       width: 150px;
    height:200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#pg-3{
  width: 150px;
    height:200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}  
  /* footer section, note that footer is directly a child of the projects section*/
#footer{
    background-color:var(--primary-color);
    display:flex;
    width: 300%;
    height:100vh;
    bottom: 0;
    align-items:baseline;
    justify-content:center;
    text-align:center;
    padding-top: 150px;
  padding-bottom:0px;
}  

#footer h2{
    color:var(--text-color);
    text-align: center;
    font-size: 16px;
}
#footer p{
    flex-direction: row;
   float:left;
    color: black;
    text-align: center;
    padding:25px;
    margin-left:15px;
}

.ft-icon{
  size:30px;
  height: 30px;
  width:30px;
  color:black;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition: 1s;
}
  
.ft-icon:active{
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.2);
}
.ft-txt{
    text-align: center;
    font-size: 15px;

}

  /*for tablets */

@media (max-width:767px) and  (min-width:481px){
/* for navbar and header*/
#navbar{
    width: 100vw;
    z-index: 99999;
    position:fixed;
    float:left;
    display:block;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
    height:50px;
    opacity:10;
  background-color: var(--primary-color);
}

#navbar a{
  margin-left:5px;
  padding:5px;
  margin-top:10px;
}
a{
  text-decoration:none;
  font-weight:bold;
  font-size:3vw;
}

#displaymode{
  width:15px;
  height:15px;
  padding:15px;
  padding-left:25px;
  
}
  .displaymode{
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition: 1s;
}

.displaymode:hover{
  -ms-transform:scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#main{
    width:100vw;
    position:absolute;
    height:90vh;
    font-weight:bold;
    background-color:var(--primary-color);
    display: flex;
    flex-direction:column;
    align-items: center;
    gap:100px;
    padding-top: 0 50%;
    justify-content: space-between;
    margin: 0;
   overflow-x: hidden;
    margin-top:25px;
    margin-bottom: 25px;
}
#main-img-container{
    width:150px;
    height: 150px;
    display:flex;
    padding-top:200px;
    justify-content:flex-end
} 
#main-img{
    display:flex;
    justify-content:flex-end;
    float:right;
}


#about{
    display:flex;
    flex-direction:row;
  flex-wrap:nowrap;
    margin-left:0px;
  justify-content: space-around;
  margin-right:100px;
  
}

#main-text{
    display:flex;
  align-items: flex-start;
    justify-content:flex-start;
    margin-left:0px; 
    margin-top:50px;
    margin-bottom:100px;
    margin-right:100px;
}

#main-text h1{
  font-size: 7vw;
  align-items: flex-start;
}

#projects{
    display:flex;
    flex-wrap:nowrap;
    width:100vw;
    height: 500px;
    align-items:center;
    padding: 50px;
    padding-right:50px; 
    justify-content:space-around;
} 

#pg-text{
  text-align:center;
  font-weight:bold;
}

#pg-img{
  max-width:100%;
  max-height:100%;
}

#pg-1{
    width: 250px;
    height:200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#pg-2{
    width: 250px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#pg-3{
    width:250px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}  


  /* footer section, note that footer is directly a child of the projects section*/
#footer{
    background-color:var(--primary-color);
    display:flex;
    width: 100%;
    height:100vh;
    bottom: 0;
    align-items:baseline;
    justify-content:center;
    text-align:center;
    padding-top: 100px;
  padding-bottom:0px;
}  

#footer h2{
    color: var(--text-color);
    text-align: center;
}
#footer p{
    flex-direction: row;
    
    float:left;
    color: var(--text-color);
    text-align: center;
    padding:25px;
    margin-left:15px;
}

  
.ft-icon{
  height: 50px;
  width:50px;
  color:black;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition: 1s;
}
.ft-icon:hover{
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.2);
}
.ft-txt{
    text-align: center;
}


}
/*
@media (max-width:1200px) and (min-width:768px){

}*/